@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: #24282f;
  font-family: "Poppins", sans-serif;
}
.header__logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header__info {
  color: #fff;
}
.header__image {
  margin: 0 auto;
  width: 340px;
  height: auto;
}
.container__pack {
  width: 90%;
  margin: 0 auto;
}
.pokemon__grid {
  display: grid;
  grid-template-columns: 1fr;
}
/* Tablet Styles */
@media (min-width: 600px) {
  .container__pack {
    width: 70%;
  }
  .pokemon__grid {
    grid-template-columns: 1fr 1fr;
  }
}
/* Desktop Styles */
@media (min-width: 768px) {
  .container__pack {
    width: 80%;
  }
  .pokemon__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pokemon .pokemon__card figcaption {
  position: absolute;
}

.pokemon .pokemon__card {
  position: relative;
}

.pokemon__card {
  overflow: hidden;
  width: 350px;
  height: 400px;
  margin: 10px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
}
.pokemon__card img {
  width: 100%;
  min-height: 100%;
  transition: 0.6s;
}
.pokemon__card figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51, 51, 51, 0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: rgba(6, 18, 53, 0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0s;
}
.pokemon__card figcaption h3 {
  color: yellow;
  font-size: 36px;
  margin-bottom: 0;
  font-weight: bolder;
}
.pokemon__card figcaption strong {
  font-size: 1rem;
}
.pokemon__card figcaption li {
  font-size: 1.1rem;
}
.pokemon__card:hover img,
.pokemon__card:focus img,
.pokemon__card:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.pokemon__card:hover figcaption,
.pokemon__card:focus figcaption,
.pokemon__card:active figcaption {
  opacity: 1;
  transform: none;
}
